* {
  font-family: "Baloo 2", cursive;
  margin: 0%;
}

h1,
h6 {
  font-family: "M PLUS 1 Code", sans-serif;
}

body {
  padding: 5%;
}

.hd {
  margin-top: 5%;
}

.bd {
  padding-top: 5%;
}

details > summary {
  list-style-type: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: "– ";
}

details[open] > summary::before {
  content: "¬ ";
}

details[open] > summary {
  margin-bottom: 0.5rem;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

p {
  margin-bottom: 0%;
}
ul {
  margin-bottom: 0%;
}

/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  text-align: center;
}
