* {
  font-family: "Baloo 2", sans-serif;
}

h1,
h6 {
  font-family: "Courier New", Courier, monospace;
}

body {
  padding: 1%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hd {
  margin-top: 1vh;
}

.bd {
  padding-top: 3vh;
}

details > summary {
  list-style-type: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: "– ";
}

details[open] > summary::before {
  content: "¬ ";
}

details[open] > summary {
  margin-bottom: 0.5rem;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

p {
  margin-bottom: 0%;
}
ul {
  margin-bottom: 0%;
}

/* Footer */

.footer {
  width: 100%;
  text-align: center;
  background-color: #fdfdfd;
  flex: 0 0 20px;
  margin-top: auto;
}
